mongo_to_adls_delta/template.json
{
    "name": "pl_hr_betterplace_adls_employee",
    "properties": {
        "activities": [
            {
                "name": "Lkp_get_metadata",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": {
                            "value": "select RAWTOHEX(a.ID) AS ID, a.PIPELINE_NAME, a.SRC_SCHEMA, a.SRC_TABLE, a.TGT_PATH, a.WATERMARK_COL,\na.OWNER_EMAIL, a.NOTIFICATION_EMAILS, b.watermark_value\nfrom DB_CONTROL.ADF_PIPELINE_METADATA a\nleft join (\n  select METADATA_ID, max(@{variables('metadata_watermark_col')}) as watermark_value from DB_CONTROL.ADF_EXECUTION_HISTORY \n  c  group by METADATA_ID \n) b\non a.id = b.METADATA_ID \nwhere a.IS_ACTIVE = 1 and a.LOAD_TYPE = 'incremental'\nand PIPELINE_NAME = '@{pipeline().Pipeline}'",
                            "type": "Expression"
                        },
                        "partitionOption": "None",
                        "numberPrecision": 38,
                        "numberScale": 18,
                        "queryTimeout": "02:00:00"
                    },
                    "dataset": {
                        "referenceName": "Oracle_CONTROL_DB_get_metadata",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "check_for_new_data",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "setStartTime_copy1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Lkp_get_max_delta",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(\n    or(\n        equals(activity('Lkp_get_metadata').output.firstRow.WATERMARK_VALUE, null),\n        equals(trim(activity('Lkp_get_metadata').output.firstRow.WATERMARK_VALUE), '')\n    ),\n    greater(\n        activity('Lkp_get_max_delta').output.firstRow.max_watermark_value,\n        activity('Lkp_get_metadata').output.firstRow.WATERMARK_VALUE\n    )\n)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "copyData",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "MongoDbV2Source",
                                    "batchSize": 100,
                                    "filter": {
                                        "value": "@concat(\n  '{ \"',\n    activity('Lkp_get_metadata').output.firstRow.WATERMARK_COL, '\": { ',\n      if(\n        and(\n          not(equals(activity('Lkp_get_metadata').output.firstRow.WATERMARK_VALUE, null)),\n          not(equals(activity('Lkp_get_metadata').output.firstRow.WATERMARK_VALUE, ''))\n        ),\n        concat(\n          '\"$gte\": { \"$date\": ', activity('Lkp_get_metadata').output.firstRow.WATERMARK_VALUE, ' }, '\n        ),\n        ''\n      ),\n      '\"$lt\": { \"$date\": ', activity('Lkp_get_max_delta').output.firstRow.max_watermark_value, ' }',\n      \n    '} }'\n)",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings",
                                        "filePattern": "arrayOfObjects"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "DS_Mongo_db_prod_customer_mgmt_db_cluster2",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table_name": {
                                            "value": "@activity('Lkp_get_metadata').output.firstRow.SRC_TABLE",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "Json_adls",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "folder_path": {
                                            "value": "@concat(\n    activity('Lkp_get_metadata').output.firstRow.TGT_PATH,\n    '/',\n    activity('Lkp_get_metadata').output.firstRow.SRC_TABLE,\n    '/Delta'\n)",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "script_update_metadata",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "copyData",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "ORA_DB_CONTROL",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "type": "Query",
                                        "text": {
                                            "value": "INSERT INTO DB_CONTROL.adf_execution_history (\n    PIPELINE_RUN_ID,\n    METADATA_ID,\n    START_TIME,\n    END_TIME,\n    STATUS,\n    @{variables('metadata_watermark_col')},\n    ROWS_PROCESSED,\n    DATA_VOLUME_MB,\n    ERROR_MESSAGE\n)\nVALUES (\n    '@{pipeline().RunId}',\n    '@{activity('Lkp_get_metadata').output.firstRow.ID}',\n    TO_TIMESTAMP('@{formatDateTime(convertTimeZone(variables('pipeline_start_time'),'UTC','India Standard Time'),'yyyy-MM-dd HH:mm:ss')}', 'YYYY-MM-DD HH24:MI:SS'),\n    TO_TIMESTAMP('@{formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'yyyy-MM-dd HH:mm:ss')}', 'YYYY-MM-DD HH24:MI:SS'),\n    'Success',\n    @{activity('Lkp_get_max_delta').output.firstRow.max_watermark_value},\n    @{activity('copyData').output.rowsCopied},\n    @{activity('copyData').output.dataRead},\n    ''\n)",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        }
                    ]
                }
            },
            {
                "name": "setStartTime_copy1",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipeline_start_time",
                    "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "copyData_copy1",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Lkp_get_metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "MongoDbV2Source",
                        "additionalColumns": [
                            {
                                "name": "pipeline_name",
                                "value": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        ],
                        "batchSize": 100,
                        "filter": "",
                        "cursorMethods": {
                            "sort": {
                                "value": "{\"@{activity('Lkp_get_metadata').output.firstRow.WATERMARK_COL}\":-1}",
                                "type": "Expression"
                            },
                            "limit": 1,
                            "project": {
                                "value": "{\"@{activity('Lkp_get_metadata').output.firstRow.WATERMARK_COL}\": { \"$toLong\": \"$@{activity('Lkp_get_metadata').output.firstRow.WATERMARK_COL}\" }, \"_id\": 0}",
                                "type": "Expression"
                            }
                        },
                        "limit": 1
                    },
                    "sink": {
                        "type": "OracleSink",
                        "writeBatchSize": 10000
                    },
                    "enableStaging": false,
                    "validateDataConsistency": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "path": "$['modifiedOn']"
                                },
                                "sink": {
                                    "name": "WATERMARK_VALUE",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['pipeline_name']"
                                },
                                "sink": {
                                    "name": "PIPELINE_NAME",
                                    "type": "String"
                                }
                            }
                        ]
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_Mongo_db_prod_customer_mgmt_db_cluster2",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": {
                                "value": "@activity('Lkp_get_metadata').output.firstRow.SRC_TABLE",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "Oracle_DB_CONTROL_mongo_delta",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Lkp_get_max_delta",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "copyData_copy1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": {
                            "value": "SELECT WATERMARK_VALUE AS max_watermark_value\nFROM ADF_MONGO_DELTA_STAGGING\nWHERE PIPELINE_NAME = '@{pipeline().Pipeline}'\nORDER BY CREATED_DATE DESC\nFETCH FIRST 1 ROWS ONLY",
                            "type": "Expression"
                        },
                        "partitionOption": "None",
                        "numberPrecision": 38,
                        "numberScale": 18,
                        "queryTimeout": "02:00:00"
                    },
                    "dataset": {
                        "referenceName": "Oracle_CONTROL_DB_get_metadata",
                        "type": "DatasetReference"
                    }
                }
            }
        ],
        "variables": {
            "metadata_watermark_col": {
                "type": "String",
                "defaultValue": "WATERMARK_VALUE_INT"
            },
            "pipeline_start_time": {
                "type": "String"
            },
            "EndTime": {
                "type": "String"
            },
            "currentUnixEpoch": {
                "type": "String"
            }
        },
        "folder": {
            "name": "HR"
        },
        "annotations": [],
        "lastPublishTime": "2025-10-08T06:36:55Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}